	<link href="$base/branding/default/style/business.css" rel="stylesheet" type="text/css" />
	<script language="javascript" type="text/javascript" src="$!base/eportalstyle/My97DatePicker/WdatePicker.js"></script>	
<form id="thresholdForm" name="thresholdForm" method="post" action="$!actionUrl">
<input type=hidden name=id value=$!bizObj.id>
<div class="maincon">
      <div class="frminfo org">
         <ul>
            <li>
              <span class="ft">名称：</span>
              <dd>#showFormText("name" "$!bizObj.name" 50)#showMustFill()</dd>
            </li>
            <li>
              <span class="ft">最大值：</span>
              <dd>#showFormText("max" "$!bizObj.max" 50)#showMustFill()</dd>
            </li>
          
             <li>
              <span class="ft">最小值：</span>
              <dd>#showFormText("min" "$!bizObj.min" 50)#showMustFill()</dd>
            </li>
            <li class="bot">
              #if($!action != "detail")
              <input name="insert" type="button" class="btn_save mrg_y20" value="确 定" onclick="toSubmit();" />
              #end
              <input type="button" class="btn_cancel" value="返回" onclick="window.location='$base/threshold/actions.html?method=list&menuname=$menuname'"/>
            </li>
         </ul>
         <div class="clear"></div>
      </div>
   </div>
</form>

<script>
	function toSubmit(){
		var name = document.getElementById("name").value;
		   if(name==""){
		      alert("请输入名称");
		      return;
		   }
			   
		   document.getElementById("thresholdForm").submit();
		}
</script>