<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>中国螺杆产业公共服务平台</title>
<link href="$!base/eportalstyle/css/global.css" rel="stylesheet" type="text/css" />
<link href="$!base/eportalstyle/css/login.css"  rel="stylesheet" type="text/css" />
</head>

<body style="background-color:#F8F8F8;">
<div id="container"> 
  <div class="header">
    <a href="$!base/index.html" title="E螺杆——中国螺杆产业公共服务平台"><img src="$!base/eportalstyle/images/logo.png" width="387" height="88" /></a>
  </div>
  
  <div class="register_box box1 error">
    <img src="$!base/eportalstyle/images/error_500.png" width="318" height="150" />
    <h1>内部服务器错误。<br />您查找的资源存在问题，因而无法显示。</h1>
    <input name="" type="button" class="return-button" value="返回首页" title="返回首页" onclick="window.location='$base/index.html'"/>
  </div>
  
  <!--footer开始-->
#parse( "/WEB-INF/eportalpages/common/footer.vm" )
  <!--footer结束-->
</div>
</body>
</html>
