#parse( "/WEB-INF/eportalpages/common/top.vm" )

<body>
<div id="container"> 
  <!--site-nav开始-->
  #parse( "/WEB-INF/eportalpages/common/site_nav.vm" )
  <!--site-nav结束--> 

  <!--header开始-->
  #parse( "/WEB-INF/eportalpages/common/header.vm" )
  <!--header结束--> 

  <!--mainnav开始-->
  #parse( "/WEB-INF/eportalpages/common/main_nav.vm" )
  <!--mainnav结束--> 
   
  <!--main开始-->
  <div id="main" class="layout">
    <div style="float:left; position:relative; margin-left:230px; margin-top:80px; margin-bottom:20px;">
      <img src="$!base/eportalstyle/images/sorry.jpg" style="width:700px; height:360px;"/>
    </div>   
  </div>
  <!--main结束-->
  
  <!--service开始-->
  #parse( "/WEB-INF/eportalpages/common/service.vm" )
  <!--service结束-->
  
  <!--footer开始-->
  #parse( "/WEB-INF/eportalpages/common/footer.vm" )
  <!--footer结束-->
  
  <!--con_side开始-->
  #parse( "/WEB-INF/eportalpages/common/con_side.vm" )
  <!--con_side结束--> 
</div>
</body>
</html>
