<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>中国螺杆产业公共服务平台</title>
<link href="$!base/eportalstyle/css/global.css" rel="stylesheet" type="text/css" />
<link href="$!base/eportalstyle/css/login.css"  rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$base/eportalstyle/js/jquery 1.7.1.js"></script>
</head>

<body style="background-color:#F8F8F8;">
<div id="container"> 
  <div class="header">
    <a href="$!base/index.html" title="E螺杆——中国螺杆产业功能服务平台"><img src="$!base/eportalstyle/images/logo.png" width="387" height="88" /></a>
    <h1>邮箱绑定</h1>
  </div>
  
  <div class="register_box box1 error">
    <img src="$!base/eportalstyle/images/emailsend.png" width="150" height="108" />
    <h1>尊敬的用户您好：</h1>
    <P>系统已经发送一封激活邮件到您的邮箱中</P>
    <div class="return-look"><a href="http://$!emailurl" title="查看邮件" target="_blank">查看邮件</a></div>
  </div>
  
  <!--footer开始-->
  #parse( "/WEB-INF/eportalpages/common/footer.vm" )
  <!--footer结束-->
</div>
</body>
</html>
