#set($actionUrl="$base/expert/actions.html?method=insert&insert=y&menuname=$menuname")
<div id="main" class="w100 bgmain">
   <div class="maintopmenu">
      <ul class="tit"> 专家>添加</ul>      
   </div>
   #parse( "/WEB-INF/pages/expert/form.vm" )
</div>