#parse( "/WEB-INF/eportalpages/common/top.vm" )
<body>
<div id="container"> 
  <!--site-nav开始-->
  #parse( "/WEB-INF/eportalpages/common/site_nav.vm" )
  <!--site-nav结束--> 

  <!--header开始-->
  #parse( "/WEB-INF/eportalpages/common/header.vm" )
  <!--header结束--> 

  <!--mainnav开始-->
  #parse( "/WEB-INF/eportalpages/common/main_nav.vm" )
  <!--mainnav结束--> 
   
  <!--main开始-->

  <div id="main" class="layout">
      <div class="newpage mrg_t15 mrg_b15 fl">当前所在位置：<a href="$!base/index.html" title="首页">首页</a> ><a href="$!base/personnel.html?method=list" title="企业招聘">企业招聘 </a>> 详细</div>
    <div class="news_detailed box1 fl">
      <div class="title">
        <h1>$!bizObj.name</h1>
        <span>发布时间：$!vMUtils.dateTimeFormateSimple($!bizObj.timeCreate)</span>
      </div>
      <div class="detailed">
        <div>$!bizObj.content</div>
      </div>
    </div>
    
    <div class="news_right fr">
      <div class="news_dynamic box1 fl">
        <ul class="menu1"><h1>招聘目标</h1><span><a href="$!base/personnel.html?method=list">更多>></a></span></ul>
        <ul class="news_dynamic_list">
           #set($indexNum=0)
          #foreach($biz in $!list)
            #set($indexNum=$indexNum+1)
          #if($!indexNum<10)
          <li><a href="$!base/personnel.html?method=detail&sid=$!biz.id" title=""> $!biz.name</a></li>
          #end
          #end
        </ul>
      </div>
    </div>
  </div>
  <!--main结束-->
  
  <!--service开始-->
  #parse( "/WEB-INF/eportalpages/common/service.vm" )
  <!--service结束-->
  
  <!--footer开始-->
  #parse( "/WEB-INF/eportalpages/common/footer.vm" )
  <!--footer结束-->
  
  <!--con_side开始-->
  #parse( "/WEB-INF/eportalpages/common/con_side.vm" )
  <!--con_side结束--> 
</div>
</body>
</html>
